@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');


:root{
 --brightYellow:#E3B505;
 --darkBrown:#BB9457;
 --yellow:rgb(242, 180, 80); 
 --brown:#382923;
 --black:#191919;
 --grey:#A9B2AC;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.85)),url('../img/bodyBcg.jpeg');
  color: var(--black);
}

/* header start */
.header {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 80%;
  position: relative;
}
/* header end  */

